<%= flash_messages %>

<p>
  <strong>Desc:</strong>
  <%= @comment.desc %>
</p>

<p>
  <strong>Published:</strong>
  <%= @comment.published %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
