<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Nazwa</label>
    <p>
    <%= form.text_field :name %>
  </p>
  </div>

  <div class="field">
    <label>Opis    </label>
    <p>
    <%= form.text_area :desc %>
  </p>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="actions">
    <%= form.submit "Edytuj" ,class: "btn btn-primary btn-lg "%>
    <%= link_to 'Wróć', topic, class: "btn btn-success btn-lg"%>
  </div>
<% end %>
