<%= flash_messages %>
<% if can? :create, topic %>
<h2>Topics</h2><%= link_to 'New Topic', new_topic_path , class: "btn btn-primary" %>
<% end %>
<p />
<p> 
    <%= sortable "created_at" %>
    <%= link_to 'Najpopularniejsze', topics_path, class: "btn btn-primary" %></p>
<p></p>
<% @topics.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |topic| %>
      <div class="col-md-3 text-center">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= topic.name %></h3>
            <p><%= simple_format(truncate(topic.desc, length: 90)) %></p>
            <p><%= topic.user.username %></p>
            <p><%= topic.comments.count %> </p>
            <p> <%= link_to 'Show', topic, class: "btn btn-primary" %></p>
          </div>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
<hr />
<%= paginate @topics %>
<%= page_entries_info @topics %>
<br>
