<%= flash_messages %>

<h2>Topics</h2>
<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-4">Desc</th>
        <th class="col-md-2">Author</th>
        <th class="col-md-1">Published</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td class="col-md-2"><%= topic.name %></td>
          <td class="col-md-4"><%= topic.desc %></td>
          <td class="col-md-2"><%= topic.user.try(:username) %></td>
          <td class="col-md-1"><%= topic.published %></td>
          <td><%= link_to 'Show', topic %></td>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<br>

<%= link_to 'New Topic', new_topic_path , class: "btn btn-primary" %>
