<p id="notice"><%= notice %></p>

 <main role="main" class="container">
  <div class="jumbotron">
    <h1><%= @topic.name %></h1>
    <p class="lead"><%= @topic.desc %></p>
    <a><%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-lg btn-primary"  %></a>
    <a><%= link_to 'Back', topics_path, class: "btn btn-lg btn-primary"  %></a>
  </div>
</main>